<!-- <ng-template [ngIf]="mode == 'show'"  [ngIfThen]="showRef" [ngIfElse]="formRef"></ng-template> -->

<div [ngSwitch]="mode">

  <div *ngSwitchDefault>

    <app-card>
      <ng-container card-title>
        Playlist "{{playlist.name}}"
      </ng-container>

      <dl [attr.title]="playlist.name">
        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>

        <dt>Favourite:</dt>
        <dd>{{playlist.favourite? 'Yes':'No'}}</dd>

        <dt>Color</dt>
        <dd [style.color]="playlist.color">
          {{playlist.color}}
        </dd>
      </dl>

      <ng-container card-footer>
        <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
      </ng-container>

    </app-card>

  </div>

  <form *ngSwitchCase=" 'edit' " #formRef="ngForm" (submit)="save(formRef)">

    <app-card>
      <ng-container card-title>Edit Playlist</ng-container>

      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [ngModel]="playlist.name" name="name" appValidate="placki">
      </div>

      <div class="form-group">
        <label>Favourite:</label>
        <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
      </div>

      <div class="form-group">
        <label>Color</label>
        <input type="color" [ngModel]="playlist.color" name="color">
      </div>

      <ng-container card-footer>
        <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
        <input type="submit" value="Save" class="btn btn-success">
      </ng-container>
    </app-card>
  </form>

</div>
