<!-- Search Form -->
<div class="row">
  <div class="col">
    <app-search-form (queryChange)="search($event)">
    </app-search-form>
    <!-- Typeahead -->
    <!-- https://ng-bootstrap.github.io/#/components/typeahead/examples#http -->
    <input list="results"  (input)="search($event.target.value)">
    <datalist id="results">
      <option *ngFor="let album of albums" [value]="album.name">
    </datalist>
  </div>
</div>

<!-- Search results -->
<div class="row">
  <div class="col">

    <!-- Error message -->
    <p class="alert alert-danger" *ngIf="message">
      {{message}}
    </p>

    <!-- Loader -->
    <div class="lds-ring" *ngIf="loading">
      <div></div>
    </div>

    <!-- Results -->
    <app-albums-grid [albums]="albums"></app-albums-grid>
  </div>
</div>
