:host(.bordered) {
  display: block;
  border: 1px solid black;
}

:host-context(.holiday-theme) p {
  color: hotpink;
}

.list-group-item {
  border-left: 10px solid;
}

/* 
:host ::ng-deep p{
  color:red;
} */
