<!-- // Emmet Plugin:
      .container>.row>.col 
-->

<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Music App 😋!
      </h1>

      <button (click)="hide = !hide">
        Toggle {{hide}}
      </button>

      <ng-container *appUnless="hide; let costam; message as m ">
        <div>Lubie {{costam}} - {{m}}</div>
        <app-playlists-view></app-playlists-view>
      </ng-container>

<!-- 
      <data-grid> // ie. Material Design Table, CDK data - table 

          <tr *gridRowTpl="let row; colums:['id','title']"  [class.selected]="row.isSelected()"></tr>   
          
          <td *gridCellTpl="name: 'title'; let row">{{row.title}}</td>

      </data-grid> -->

<!-- 
      <div *appProducts="let product; where {price:{$gt:100}}; sortBy 'price desc' ">
        {{product.name}}
      </div>
 -->


      <!-- 
      <ng-template [appUnless]="hide" let-costam let-m="message">

        <div>Lubie {{costam}} - {{m}}</div>
        <app-playlists-view></app-playlists-view>

      </ng-template> -->

    </div>
  </div>
</div>
