<!-- https://getbootstrap.com/docs/4.1/components/input-group/#button-addons -->

<div class="form-group mb-3" [formGroup]="queryForm">


  <input type="text" class="form-control" placeholder="Search" formControlName="query">


  <div formGroupName="options">

    <input type="text" class="form-control" formControlName="type">

    <div *ngFor="let control of markets.controls">

        <input type="text" class="form-control" [formControl]="control">

    </div>

    <button (click)="addMarket()">Add</button>
  </div>

</div>

<!-- <div class=" input-group-append">
  <button class="btn btn-outline-secondary" (click)="search(queryRef.value)">Search</button>
</div> -->

<!-- 
<ng-template let-field let-label="label">
  <div>
    <label>{{label}}</label>
    <input type="text" [formContol]="field">
  </div>
</ng-template> -->