<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">
  


  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">

      <div *ngIf="field.hasError('required')">
        Field is required
      </div>

      <div *ngIf="field.getError('minlength') as error">
        Minimum {{error.requiredLength}} characters
      </div>

      <div *ngIf="field.getError('censor') as error">
        Field cannot contain text including "{{error.badword}}"
      </div>

    </ng-container>
  </ng-container>

  <!-- 
    <form-messages [field]="queryForm.get('query')"></form-messages> 
  -->
</div>
